<script type="text/x-kendo-template" id="template-formulario">
    <form class="form-horizontal">
        <div data-template="template-campo-formulario" data-bind="source: camposDelFormulario"></div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <a href="#" class="btn btn-primary" data-bind="events: { click: guardar }">Guardar</a>
                <a href="#" class="btn btn-danger" data-bind="events: { click: eliminar }">Eliminar</a>
                <a href="#" class="btn btn-default" data-bind="events: { click: cancelar }">Cancelar</a>
            </div>
        </div>
    </form>
</script>

<script type="text/x-kendo-template" id="template-campo-formulario">
    <div class="form-group">
        <label for="#= nombre #" class="control-label col-lg-2" data-bind="text: etiqueta"></label>
        <div class="col-lg-10">
            # if (tipo === "string") { #
            <input type="text" name="#= nombre #" class="form-control" data-bind="value: instancia.#= nombre #">
            # } #
            
            # if (tipo === "date") { #
            <input data-role="datepicker" name="#= nombre #" data-bind="value: instancia.#= nombre #">
            # } #

            # if (tipo === "datetime") { #
            <input data-role="datetimepicker" name="#= nombre #" data-bind="value: instancia.#= nombre #">
            # } #

            # if (tipo === "text") { #
            <textarea class="form-control" rows="3" name="#= nombre #" data-bind="value: instancia.#= nombre #"></textarea>
            # } #

            # if (tipo === "dropdown") { #
            <input name="#= nombre #"
                   data-role="dropdownlist"
                   data-text-field="texto"
                   data-value-field="valor"
                   data-option-label="- Seleccionar -"
                   data-bind="value: instancia.#= nombre #,
                              source: #= nombre #Opciones.elementos">
            # } #
        </div>
    </div>
</script>