<script type="text/x-kendo-template" id="template-listado">
    <a href="#" class="btn btn-primary" style="margin-bottom: 15px;" data-bind="events: { click: nuevo }">Nuevo</a>
    <div class="list-group"
        data-bind="source: contactos"
        data-template="template-elemento-listado"></div>
</script>

<script type="text/x-kendo-template" id="template-elemento-listado">
    <a href="\\#/contactos/#= uid #" class="list-group-item">
        #= nombre # #= apellidos #
    </a>
</script>
