﻿<div class="panel-body">
    <div class="tab-content m-t-large" id="contenedor-datos">
        <div class="tab-pane active" id="datos-generales">
            <form class="form-horizontal" data-template="template-campo-formulario" data-bind="source: camposGenerales"></form>
        </div>

        <div class="tab-pane" id="facturacion-y-cobranza">
            <form class="form-horizontal" data-template="template-campo-formulario" data-bind="source: camposFacturacion"></form>
        </div>

        <a href="#" class="btn btn-primary col-lg-offset-2" data-bind="click: guardar">Guardar</a>
    </div>
</div>

<script type="text/x-kendo-template" id="template-campo-formulario">
    <div class="form-group">
        <label for="#= nombre #" class="control-label col-lg-2" data-bind="text: etiqueta"></label>
        <div class="col-lg-10">
            <input type="text" name="#= nombre #" class="form-control" data-bind="value: modelo.#= nombre #">
        </div>
    </div>
</script>

<script>
    // datasource para actualizar los datos del cliente
    dataSourceCliente = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/api/_Clientes/@Model.Id"
            },
            update: {
                url: "/api/_Clientes/@Model.Id",
                type: "PUT",
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            },
            parameterMap: function (model, operation) {
                if (operation !== "read" && model) {
                    return kendo.stringify(model);
                }
            }
        },
        schema: {
            model: {
                id: "Id"
            }
        },
        change: function () {
            var cliente = this.data()[0];
            modeloDatos = new kendo.observable({
                modelo: cliente,
                camposGenerales: [
                    { nombre: "Calle", etiqueta: "Calle" },
                    { nombre: "NumeroExterior", etiqueta: "# exterior" },
                    { nombre: "NumeroInterior", etiqueta: "# interior" },
                    { nombre: "Colonia", etiqueta: "Colonia" },
                    { nombre: "CodigoPostal", etiqueta: "CP" },
                    { nombre: "Ciudad", etiqueta: "Ciudad" },
                    { nombre: "Municipio", etiqueta: "Municipio" },
                    { nombre: "Estado", etiqueta: "Estado" },
                    { nombre: "TelefonoCelular", etiqueta: "Celular" },
                    { nombre: "TelefonoParticular", etiqueta: "Teléfono particular" },
                    { nombre: "TelefonoOficina", etiqueta: "Telefono de oficina" },
                    { nombre: "EstadoCivil", etiqueta: "Estado civil" },
                    { nombre: "Email", etiqueta: "Email" }
                ],
                camposFacturacion: [
                    { nombre: "EmailRecepcionCfdi", etiqueta: "Email para CFDI's" },
                    { nombre: "CalleParaCobrar", etiqueta: "Calle" },
                    { nombre: "NumeroExteriorParaCobrar", etiqueta: "# exterior" },
                    { nombre: "NumeroInteriorParaCobrar", etiqueta: "# interior" },
                    { nombre: "ColoniaParaCobrar", etiqueta: "Colonia" },
                    { nombre: "CodigoPostalParaCobrar", etiqueta: "CP" },
                    { nombre: "CiudadParaCobrar", etiqueta: "Ciudad" },
                    { nombre: "MunicipioParaCobrar", etiqueta: "Municipio" },
                    { nombre: "EstadoParaCobrar", etiqueta: "Estado" }
                ],
                guardar: function () {
                    dataSourceCliente.sync();
                }
            });

            kendo.bind($("#contenedor-datos"), modeloDatos);
        }
    });
</script>