{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Contactos</title>

    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/font.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">

    <style>
        a.navbar-brand {
            border: none;
        }
    </style>
</head>
<body>
<!-- navbar -->
<header id="header" class="navbar">
    <a href="#" class="navbar-brand">ravage</a>
</header>

<!-- sidebar -->
<nav id="nav" class="nav-primary hidden-xs nav-vertical">
    <ul class="nav affix-top">
        <li><a href="#"><i class="fa fa-calendar"></i> Calendario</a></li>
        <li><a href="#"><i class="fa fa-user"></i> Contactos</a></li>
    </ul>
</nav>

<!-- contenido -->
<section id="content" class="content-sidebar bg-white">
    <!-- sidebar contactos -->
    <aside class="sidebar sidebar-large">
        <!-- buscar contactos -->
        <div class="padder header-bar bg clearfix">
            <div class="input-group m-t m-b">
                <input type="text" class="input-sm form-control" placeholder="Buscar" id="buscar_contacto">
                <span class="input-group-btn">
                    <button class="btn btn-sm btn-white" type="button"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    
        <!-- contactos -->
        <div id="contactos"
             class="list-group list-normal m-t-n-xmini scroll-y scrollbar"
             data-bind="source: contactos"
             data-template="template-elemento-lista-contactos"></div>
    </aside>
    
    <div class="bg-primary clearfix padder m-b">
        <h3 class="m-b">Mobile first web app for startup</h3>
    </div>
</section>

<!-- template contactos -->
<script type="text/x-kendo-template" id="template-elemento-lista-contactos">
    <a href="\\#" class="list-group-item"><strong>#= nombre # #= apellidos #</strong></a>
</script>

<!-- scripts -->
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "js/kendo.ui.core.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/modelos/contacto.js" %}"></script>
<script type="text/javascript" src="{% static "js/tools.js" %}"></script>

<!-- app -->
<script type="text/javascript">
    app = {};

    $(function() {
        app.controladorContactos = new kendo.observable({
            contactos: new kendo.data.DataSource({
                schema: { model: Contacto },
                transport: crearObjetoTransport('/contactos/api/contactos/', true, true, true)
            })
        });

        kendo.bind("#contactos", app.controladorContactos);

        // buscar contactos
        $("#buscar_contacto").keyup(function() {
            var filtro = $("#buscar_contacto").val();
            app.controladorContactos.contactos.filter({ field: "nombre", operator: "contains", value: filtro });
        });
    });
</script>

</body>
</html>