{% extends "base.html" %}

{% block contenido %}
<div class="container-fluid">
    <div id="contenedor-layout"></div>
</div>

{% include "kendo/layout.html" %}
{% include "kendo/listado.html" %}
{% include "kendo/formulario.html" %}
{% include "kendo/calendario.html" %}

{% endblock %}

{% block scripts %}

<script>
    var app = {};
    $(function() {
        var transportContactos, dataSourceContactos, controladorContactos,
            vistaContactos, vistaFormulario, layout, router;

        transportContactos = crearObjetoTransport("/contactos/api/contactos/", true, true, true);
        
        transportContactos.parameterMap = function(model, operation) {
            if (operation !== "read" && model) {
                model.fecha_de_nacimiento = kendo.toString(model.fecha_de_nacimiento, "yyyy-MM-dd");
                return kendo.stringify(model);
            }
        };
        
        dataSourceContactos = new kendo.data.DataSource({
            schema: { model: Contacto },
            transport: transportContactos
        });

        controladorContactos = new kendo.observable({
            contactos: dataSourceContactos,
            instancia: null,
            camposDelFormulario: [
                { nombre: "apellidos", etiqueta: "Apellidos", tipo: "string" },
                { nombre: "nombre", etiqueta: "Nombre", tipo: "string" },
                { nombre: "direccion", etiqueta: "Dirección", tipo: "text" },
                { nombre: "telefono", etiqueta: "Teléfono", tipo: "string" },
                { nombre: "fecha_de_nacimiento", etiqueta: "Fecha de nacimiento", tipo: "date" },
                { nombre: "sexo", etiqueta: "Sexo", tipo: "dropdown" }
            ],
            nuevo: function() {
                var contacto = new Contacto();
                this.set("instancia", contacto);
                this.contactos.add(contacto);
                app.router.navigate("/contactos/" + contacto.get("uid"));
            },
            guardar: function() {
                this.contactos.sync();
                app.router.navigate("/contactos");
            },
            eliminar: function() {
                console.log("eliminar")
                /*var contacto = e.data.modelo;
                if (!contacto.isNew()) {
                    this.contactos.remove(contacto);
                    this.contactos.sync();
                }*/
            },
            cancelar: function() {
                app.controladorContactos.contactos.cancelChanges();
                app.router.navigate("/contactos");
            },
            sexoOpciones: {
                elementos: [
                    { valor: "M", texto: "Masculino" },
                    { valor: "F", texto: "Femenino" }
                ],
                valor: "valor",
                texto: "texto"
            }
        });
        
        vistaContactos = new kendo.View("template-listado", { model: controladorContactos });
        vistaFormulario = new kendo.View("template-formulario", { model: controladorContactos });

        layout = new kendo.Layout("template-layout");
        layout.render("#contenedor-layout");

        router = new kendo.Router();
        router.route("/contactos(/:uid)", function(uid) {
            var contacto;

            if (uid === undefined) {
                app.layout.showIn("#contenedor-principal", vistaContactos);
            } else {
                contacto = app.controladorContactos.contactos.getByUid(uid);
                app.controladorContactos.set("instancia", contacto);
                app.layout.showIn("#contenedor-principal", vistaFormulario);
            }
        });

        app.controladorContactos = controladorContactos;
        app.router = router;
        app.layout = layout;

        app.router.start();
        app.router.navigate("/contactos");

        /*
         * eventos
         *
         */
        var Evento = kendo.data.Model.define({
            id: "id",
            fields: {
                "title": { type: "string" },
                "start": { type: "date" },
                "end": { type: "date" }
            }
        });
        var transportEventos = crearObjetoTransport("/contactos/api/citas/", true, true, true);
        var dataSourceEventos = new kendo.data.DataSource({
            schema: { model: Evento },
            transport: transportEventos
        });
        dataSourceEventos.read();
        var vistaCalendario = new kendo.View("template-calendario")

        router.route("/calendario", function() {
            app.layout.showIn("#contenedor-principal", vistaCalendario);
            if (app.calendario === null) {
                $("#calendario").fullCalendar({
                    header: {
                        left: "prev,next today",
                        center: "title",
                        right: "month,agendaWeek,agendaDay"
                    },
                    eventLimit: true, // allow "more" link when too many events
                    timezone: "local",
                    lang: "es",
                    selectable: true,
                    events: function(start, end, timezone, callback) {
                        callback(dataSourceEventos.view());
                    }
                });
                app.calendario = $("#calendario").data("fullCalendar");
            }
        });

        app.calendario = null;
    })
</script>
{% endblock %}